###############
#    folder   #
###############
.settings/
target




###############
#     file    #
###############
*.properties
config.properties
/.classpath
/.project
src\main\resources\config.properties
/resources/*.properties