<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yezic.com.repository.MilkTeaMapper">
	<resultMap id="BaseResultMap" type="MilkTea">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="productNumber" jdbcType="VARCHAR" property="productNumber" />
		<result column="unit" jdbcType="VARCHAR" property="unit" />
		<result column="unitId" jdbcType="INTEGER" property="unitId" />
		
		<result column="classification" jdbcType="VARCHAR" property="classification" />
		<result column="classificationId" jdbcType="INTEGER" property="classificationId" />
		
		<result column="taste" jdbcType="VARCHAR" property="taste" />
		<result column="tasteId" jdbcType="INTEGER" property="tasteId" />
		
		<result column="salePrice" property="salePrice" jdbcType="DECIMAL" />	
		<result column="costPrice" property="costPrice" jdbcType="DECIMAL" />
		<result column="points" property="points" jdbcType="DECIMAL" />
		<result column="imagePath" jdbcType="VARCHAR" property="imagePath" />
	</resultMap>
	
	<sql id="Base_Table">
		t_milk_tea
	</sql>
	
	<sql id="Base_Column_List">
		id, name ,productNumber,unit, unitId, classification,classificationId,taste,tasteId,salePrice,costPrice,points,imagePath
	</sql>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="MilkTea" >
		insert into <include refid="Base_Table" />
		values (#{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR}, #{productNumber,jdbcType=VARCHAR},#{unit,jdbcType=VARCHAR}, 
		#{unitId,jdbcType=INTEGER}, #{classification,jdbcType=VARCHAR}, #{classificationId,jdbcType=INTEGER},  #{taste,jdbcType=VARCHAR}, #{tasteId,jdbcType=INTEGER}, 
        #{salePrice,jdbcType=DECIMAL},#{costPrice,jdbcType=DECIMAL},#{points,jdbcType=DECIMAL},#{imagePath,jdbcType=VARCHAR}
      )
	</insert>
	
	<delete id="delete" parameterType="java.lang.Integer">
		delete from
		<include refid="Base_Table" />
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<sql id="baseQuery">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		<include refid="Base_Table" />
		<where>
			<if test="name!='' and name!=null">and name=#{name}</if>
		</where>
	</sql>
	
	<select id="getPageModel" resultMap="BaseResultMap" parameterType="MilkTea">
		<include refid="baseQuery" />
	</select>
	
	<select id="getAll" resultMap="BaseResultMap" parameterType="MilkTea">
		<include refid="baseQuery" />
	</select>
	
	<select id="getOneById" resultMap="BaseResultMap" parameterType="int">
		select * from <include refid="Base_Table" /> where id = #{id}
	</select>
</mapper>