<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yezic.com.repository.OutOrderMapper">
	<resultMap id="BaseResultMap" type="OutOrder">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="materialId" jdbcType="INTEGER" property="materialId" />
		<result column="materialName" jdbcType="VARCHAR" property="materialName" />
		<result column="orderDate" jdbcType="TIMESTAMP" property="orderDate" />
		<result column="orderNum" jdbcType="DECIMAL" property="orderNum" />
	</resultMap>
	
	<sql id="Base_Table">
		t_inorder
	</sql>
	
	<sql id="Base_Column_List">
		id, materialId,materialName,orderDate,orderNum
	</sql>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="OutOrder" >
		insert into <include refid="Base_Table" />
		values (#{id,jdbcType=INTEGER},#{materialId,jdbcType=INTEGER}
		,#{materialName,jdbcType=VARCHAR},#{orderDate,jdbcType=TIMESTAMP}
		,#{orderNum,jdbcType=DECIMAL}
      )
	</insert>
	
	<update id="update" parameterType="OutOrder">
		update
		<include refid="Base_Table" />
		<set>
			<if test="materialId != null">
				materialId = #{materialId,jdbcType=INTEGER},
			</if>
			<if test="materialName != null">
				materialName = #{materialName,jdbcType=VARCHAR},
			</if>
			<if test="orderDate != null">
				orderDate = #{orderDate,jdbcType=TIMESTAMP},
			</if>
			<if test="orderNum != null">
				orderNum = #{orderNum,jdbcType=DECIMAL},
			</if>		
			
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<delete id="delete" parameterType="java.lang.Integer">
		delete from
		<include refid="Base_Table" />
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<sql id="baseQuery">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		<include refid="Base_Table" />
		<where>
			<if test="name!='' and name!=null">and name=#{name}</if>
		</where>
	</sql>
	
	<select id="getPageModel" resultMap="BaseResultMap" parameterType="OutOrder">
		<include refid="baseQuery" />
	</select>
	
	<select id="getAll" resultMap="BaseResultMap" parameterType="OutOrder">
		<include refid="baseQuery" />
	</select>
	<select id="getOneById" resultMap="BaseResultMap" parameterType="OutOrder">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="Base_Table" />
		where id = #{id}
	</select>
</mapper>