<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yezic.com.repository.RoleResourcesMapper">
	<resultMap id="BaseResultMap" type="RoleResources">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="roleId" jdbcType="INTEGER" property="roleId" />
		<result column="resId" jdbcType="INTEGER" property="roleId" />
	</resultMap>
	
	<sql id="Base_Table">
		t_role_resources
	</sql>
	
	<sql id="Base_Column_List">
		id, roleId, resId
	</sql>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="RoleResources" >
		insert into <include refid="Base_Table" /> values 
		(
		  #{id,jdbcType=INTEGER},#{roleId,jdbcType=INTEGER},#{resId,jdbcType=INTEGER}
        )
	</insert>
	
	<update id="update" parameterType="RoleResources">
		update
		<include refid="Base_Table" />
		<set>
			<if test="roleId != null">
				roleId = #{roleId,jdbcType=INTEGER},
			</if>
			
			<if test="resId != null">
				resId = #{resId,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<delete id="delete" parameterType="java.lang.Integer">
		delete from
		<include refid="Base_Table" />
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<delete id="deleteResourcesByRoleId" parameterType="java.lang.Integer">
		delete from
		<include refid="Base_Table" />
		where roleId = #{roleId,jdbcType=INTEGER}
	</delete>
	
	<sql id="baseQuery">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		<include refid="Base_Table" />
		<where>
			<if test="name!='' and name!=null">and name=#{name}</if>
		</where>
	</sql>
	
	<select id="getPageModel" resultMap="BaseResultMap" parameterType="RoleResources">
		<include refid="baseQuery" />
	</select>
	
	<select id="getAll" resultMap="BaseResultMap" parameterType="RoleResources">
		<include refid="baseQuery" />
	</select>
	<select id="getOneById" resultMap="BaseResultMap" parameterType="RoleResources">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="Base_Table" />
		where id = #{id}
	</select>
</mapper>