<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yezic.com.repository.RoleMapper">
	<resultMap id="BaseResultMap" type="Role">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="state" jdbcType="VARCHAR" property="state" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="roleKey" jdbcType="VARCHAR" property="roleKey" />
		<result column="description" jdbcType="VARCHAR" property="description" />
	</resultMap>
	
	<sql id="Base_Table">
		t_role
	</sql>
	
	<sql id="Base_Column_List">
		id, state, name, roleKey, description
	</sql>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="Role" >
		insert into <include refid="Base_Table" /> values 
		(
		  #{id,jdbcType=INTEGER},#{state,jdbcType=VARCHAR},
		  #{name,jdbcType=VARCHAR},#{roleKey,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR}
        )
	</insert>
	
	<update id="update" parameterType="Role">
		update
		<include refid="Base_Table" />
		<set>
			<if test="state != null">
				state = #{state,jdbcType=INTEGER},
			</if>
			
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			
			<if test="roleKey != null">
				roleKey = #{roleKey,jdbcType=INTEGER},
			</if>
			
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<delete id="delete" parameterType="java.lang.Integer">
		delete from
		<include refid="Base_Table" />
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<sql id="baseQuery">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		<include refid="Base_Table" />
		<where>
			<if test="name!='' and name!=null">and name=#{name}</if>
		</where>
	</sql>
	
	<select id="getPageModel" resultMap="BaseResultMap" parameterType="Role">
		<include refid="baseQuery" />
	</select>
	
	<select id="getAll" resultMap="BaseResultMap" parameterType="Role">
		<include refid="baseQuery" />
	</select>
	
	<select id="getOneById" resultMap="BaseResultMap" parameterType="int">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="Base_Table" />
		where id = #{id}
	</select>
	
	<select id="getRoleByUserId" resultMap="BaseResultMap" parameterType="int">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="Base_Table" />
		where id in
		(
		   select roleId from t_user_role where userId = #{userId}
		)
	</select>
	
</mapper>